@font-face {
    font-family: "Montserrat_bold";
    src: url("../fonts/Montserrat/Montserrat-Bold.ttf");
}

@font-face {
    font-family: "Montserrat";
    src: url("../fonts/Montserrat/Montserrat-Regular.ttf");
}

@font-face {
    font-family: "Devonshire";
    src: url("../fonts/Devonshire-FontZillion/devonshire-regular.ttf");
}

@font-face {
    font-family: "Croissant";
    src: url("../fonts/Croissant-One-FontZillion/croissantone-regular.ttf");
}

@font-face {
    font-family: "Dancing";
    src: url("../fonts/Dancing-Script/dancing-script-regular.ttf");
}

@font-face {
    font-family: "Kaushan";
    src: url("../fonts/Kaushan-Script-FontZillion/kaushanscript-regular.ttf");
}

@font-face {
    font-family: "Segoe";
    src: url("../fonts/Segoe-print/SegoePrint.ttf");
}

@font-face {
    font-family: "Tex";
    src: url("../fonts/TeXGyreSchola-FontZillion/texgyreschola-regular.otf");
}


