
@import "_base.scss";

body {
    margin: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


header {
    font-family: "Montserrat_bold";
    font-size: 1.2em;
    text-align: center;
    background-color: rgb(87,156,135);
    color: rgb(253,203,70);
}

.section-menus {
    display: flex;
    align-self: center;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 1.5em;
    margin-bottom: 1.5em;
    width: 55em;
    &__tile {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 20em;
        height: 25em;
        box-shadow: 0em 0em 0.7em rgb(200,200,200);
        margin-top: 2.5em; 
        font-size: 1.2em;
        & a {
            height: 100%;
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            &:hover {
                .section-menus__tile__title, .section-menus__tile__menu { 
                    transform: scale(1.4);
                    opacity: 0.4;
                }
            } 
        }
        
        &--note {
            font-family: "Devonshire";
            background-color: rgb(252, 223, 219);
            color: rgb(60, 18, 24);
            }
        &--chic {
            font-family: "Croissant";
            background-color: rgb(255, 245, 254);
            color: rgb(199, 116, 18);
        }
        &--delice {
            font-family: "Dancing";
            background-color: rgb(249, 249, 249);
            color: rgb(8, 135, 251);
        }
        &--palette {
            font-family: "Kaushan";
            background-color: rgb(253, 255, 253);
            color: rgb(121, 196, 92);
        }
        &__title {
            transform: scale(1);
            opacity:1;
            transition: all 250ms ease-in-out;
            font-size: 1.5em;
            text-align: center;
            &__img-note {
                    width: 40%;
                    align-self: center;
                }
            &--note {
                font-size: 1.6em;
                display: flex;
                flex-direction: column;
            }
            &--chic {
                font-size: 1.2em;
                @include title-chic;
            }
            &--delice {
                font-size: 1.8em;
                @include title-delice;
            }
            &--palette {
                font-size: 1.8em;
                @include title-palette;
            }
        }
        &__menu {
            transform: scale(1);
            opacity:1;
            transition: all 250ms ease-in-out;
            text-align: center;
            font-family: "Segoe";
            font-size: 2em;
            font-weight: lighter;
            &--note {
                font-weight: bold;
            }
            &--chic {
                font-family: "Tex";
                font-weight: bold;
            }

        }

    }
}



a {
    text-decoration: none; 
    color: currentColor;   
}


.section-prochainement {
    font-family: "Montserrat";
    display: flex;
    justify-content: center;
    margin-bottom: 6em;
    &__content {
        padding: 0.5em 4em 0.5em 4em;
        background-color: rgb(87,156,135);
        color: rgb(253,203,70);
        border-radius: 10px;
        font-size: 1.5em;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__dots {
        height: 0.5em;
        width: 0.5em;
        background-color: rgb(253,203,70);
        border-radius: 50%;
        margin: 0.2em;
        animation: jump 0.5s ease-in-out alternate infinite backwards;
        @for $i from 1 through 3 {
            &--#{$i} {
                animation-delay: 0.15s*$i;
            }
        }
        &--1 {
            margin-left: 0.7em;
        }
    }
}


footer {
    font-family: "Montserrat";
    font-size: 1.2em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(87,156,135);
    color: rgb(253,203,70);
    height: 3em;
    width: 100%;
    position: fixed;
    bottom: 0px;
    & div {
        padding-right: 2em;
        padding-left: 2em;
        &:hover {
            animation: wriggle 0.4s alternate infinite; 
        }    
    }
}

@keyframes wriggle {
    0% {
        transform: translateX($wriggle-power) translateY($wriggle-power*-2) rotate($wriggle-rotation);
    }
    33% {
        transform: translateX($wriggle-power*-1) translateY($wriggle-power*2) rotate($wriggle-rotation*-1);
    }
    66% {
        transform: translateX($wriggle-power) translateY($wriggle-power*2) rotate($wriggle-rotation);
    }
    100% {
        transform: translateX($wriggle-power*-1) translateY($wriggle-power*-2) rotate($wriggle-rotation*-1);
    }
}

@keyframes jump {
    from {
        transform: translateY(50%);
    }
    
    to {
        transform: translateY($jump-height);
    }
    
}

@media all and (max-width: 991px) {

    .section-menus {
        display: flex;
        flex-direction: column;
        align-self: center;
        width: auto;
    }
}